h1 {
        font-size: 100%;
        color: #f44242;
        font-family: Arial;
}

p {
        font-size: 100%;
        font-family: Arial;
        color: #e80000;
        line-height: 50%;
        margin: 10px;
}

li {
        font-family: Arial;
        color: #e80000;
        margin-left: 50px;
}

html, body {
        height: 100%;
        background-image: url("https://i.imgur.com/SWNdRpl.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
}

audio {
        display: none;
}

html{
        display: table;
        margin: auto;
}

#content {
        margin: 30px 0;
        background: #082c42;
        padding: 20px;
        clear: both;
        border-radius: 5px;
        background-image: url("https://i.imgur.com/noOscm8.png");
        background-size: 25%;
        background-repeat: no-repeat;
        background-position: right bottom;
}

body {
        display: table-cell;
        vertical-align: middle;
}

